body {
  background-image: url('../../assets/img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 768px) {
  body {
    background-image: url('../../assets/img/background-mobile.png');
  }
}