@keyframes buttonMoveDark {
  to {
    transform: translateX(100%);
  }
  from {
    transform: translateX(0);
  }
}

@keyframes buttonMoveLight {
  to {
    transform: translateX(0);
  }
  from {
    transform: translateX(100%);
  }
}

@keyframes textFlasher {
  0% { opacity: 0.2 }
  50% { opacity: 1 }
  100% { opacity: 0.2 }
}