@keyframes buttonMoveDark {
  to {
    transform: translateX(100%);
  }
  from {
    transform: translateX(0);
  }
}

@keyframes buttonMoveLight {
  to {
    transform: translateX(0);
  }
  from {
    transform: translateX(100%);
  }
}