.calculator-container.dark {
  background-color: var(--black-02);
}

.calculator-container.dark .mode {
  background-color: var(--gray-02);
}

.calculator-container.dark .mode div span {
  background-color: var(--black-02);
}

.calculator-container.dark .display-operation {
  color: var(--gray-04);
}

.calculator-container.dark .display-result,
.calculator-container.dark .display-operation-result svg path {
  color: var(--gray-03);
  stroke: var(--gray-03);
}

.calculator-container.dark .buttons {
  background-color: var(--black-01);
}

.calculator-container.dark .number,
.calculator-container.dark .dot,
.calculator-container.dark .ac,
.calculator-container.dark .arrow,
.calculator-container.dark .equal {
  background-color: var(--black-02);
}
