.calculator-container.light {
  background-color: var(--gray-01);
}

.calculator-container.light .mode {
  background-color: var(--black-02);
}

.calculator-container.light .mode div span {
  background-color: var(--gray-02);
}

.calculator-container.light .display-operation {
  color: var(--gray-06);
}

.calculator-container.light .display-result,
.calculator-container.light .display-operation-result svg path {
  color: var(--black-02);
  stroke: var(--black-02);
}

.calculator-container.light .buttons {
  background-color: var(--gray-04);
}

.calculator-container.light .number,
.calculator-container.light .dot,
.calculator-container.light .ac,
.calculator-container.light .arrow,
.calculator-container.light .equal {
  background-color: var(--gray-04);
}
