:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;

  --black-01: #121214;
  --black-02: #202024;

  --gray-01: #e0e0ed;
  --gray-02: #e1e1e6;
  --gray-03: #dadae0;
  --gray-04: #c4c4cc;
  --gray-05: #a2a2b0;
  --gray-06: #8c8c93;

  --blue-01: #007cff;
}
